<a href="https://colab.research.google.com/github/KurtyMittens/CPE311_CTwithPy/blob/main/pandasnumpylolo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Analysis Life Cycle:

In [ ]:
file_path = "/content/Iris.csv"

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Documentation is the key
data =  pd.read_csv(file_path)

In [ ]:
data

In [ ]:
# introduction in pandas
# pandas Uses dataframes - > dataframes are 2d arrays
step_data = [1, 5, 7,89,5, 1]
step_counts = pd.Series(step_data, name="steps")

In [ ]:
step_counts

In [ ]:
grades = [96.65, 50.25, 33.25, 22.3, 85]
# Make a series for grades using pandas
# CODE HERE!

In [ ]:
step_counts.index = pd.date_range("20240306", periods=6)

In [ ]:
step_counts

In [ ]:
step_counts["2024-03-06"]

In [ ]:
step_counts[4]

Data slicing

In [ ]:
step_counts[:-1]

In [ ]:
step_counts["2024-03"]
# all Data in March

In [ ]:
step_counts.dtypes

In [ ]:
step_counts = step_counts.astype(np.float64)

In [ ]:
step_counts.dtypes

In [ ]:
# DATA IMPUTATION
# REAL LIFE DAT< NOT ALWAYS CLEAN DATA!
step_counts

In [ ]:
step_counts[1:5] = np.NaN

In [ ]:
step_counts

In [ ]:
# deal with missing values?
# 1: Change the missing value to the average of the non-missing values
# 2: Change to 0

step_counts = step_counts.fillna(0)

In [ ]:
step_counts

# Pandas dataframe Creation and Methods

In [ ]:
cycling_data = [10, 7, 0, None, 2, 4, 15, 3, 10, 9, 0, None]

joined_data = list(zip(step_data, cycling_data))

In [ ]:
joined_data

In [ ]:
#creating a dataframe

activity_df = pd.DataFrame(joined_data)

In [ ]:
activity_df

In [ ]:
# naming columns

activity_df =  pd.DataFrame(joined_data,
                            index= pd.date_range("20240306", periods = 6),
                            columns = ['Walking', "Cycling"])

In [ ]:
activity_df

# Indexing by data frames

- loc -> Named Index Value
- iloc -> Integer index

In [ ]:
activity_df.loc["2024-03-06"]

In [ ]:
activity_df.iloc[3]

In [ ]:
activity_df.loc[:"2024-03-09"]

In [ ]:
activity_df.iloc[:3,:1]

In [ ]:
file_path

In [ ]:
df = pd.read_csv(file_path, index_col = 'Id')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df["Sepal Area"] = df.SepalLengthCm * df.SepalWidthCm

In [ ]:
df

In [ ]:
df["Petal Area"] = df.PetalLengthCm * df.PetalWidthCm

In [ ]:
df

In [ ]:
df["abbrv"] = (df.Species.apply(lambda x:x.replace("Iris-","")))

In [ ]:
df

In [ ]:
df.drop("Species", axis = 1, inplace = True)

In [ ]:
df

# Concatenating Two Dataframes

In [ ]:
small_data = pd.concat([df.iloc[:2], df.iloc[-2:]])

In [ ]:
small_data

In [ ]:
group_size = df.groupby('abbrv').size()

In [ ]:
df.mean()

In [ ]:
df.describe()