# Module 7: Data Wranglling with Pandas

## CPE311 Computational Thinking with Python

Submitted By: Villamor, Kurt Russel

Performed on:  03/20/2024

Submitted on: 03/20/2024

Submitted to: Engr. Roman M Richard

## 7.1 Supplementary Activity
Using the dataset provided, Perform The Following Activity

## Exercise 1

In [ ]:
import pandas as pd

1. Read Each File

In [ ]:
apple_df = pd.DataFrame(pd.read_csv("/content/sample_data/aapl.csv"))
apple_df.head(10)

In [ ]:
amazon_df = pd.DataFrame(pd.read_csv("/content/sample_data//amzn.csv"))
amazon_df.head(10)

In [ ]:
facebook_df = pd.DataFrame(pd.read_csv("/content/sample_data//fb.csv"))
facebook_df.head(10)

In [ ]:
google_df = pd.DataFrame(pd.read_csv("/content/sample_data//goog.csv"))
google_df.head(10)

In [ ]:
netflix_df = pd.DataFrame(pd.read_csv("/content/sample_data//nflx.csv"))
netflix_df.head(10)

2. Add a column to each dataframe, called ticker symbol it is for. This is how you look up your stock. Each file name is also the ticker symbol, o make sure you capitalize it

In [ ]:
apple_df["ticker"] = "AAPL"
apple_df.head(10)

In [ ]:
amazon_df["ticker"] = "AMZN"
amazon_df.head(10)

In [ ]:
facebook_df["ticker"] = "FB"
facebook_df.head(10)

In [ ]:
google_df["ticker"] = "GOOG"
google_df.head(10)

In [ ]:
netflix_df["ticker"] = "NFLX"
netflix_df.head(10)

3. Append them together into a single dataframe

In [ ]:
faang_df = pd.concat(
    [apple_df, amazon_df, facebook_df, google_df, netflix_df]
)
faang_df

4. Save the result in a CSV file called faang.csv

In [ ]:
faang_df.to_csv("/content/sample_data/faang.csv")

## Exercise 2

- With faang, use the type conversion to change the column into timedate and the volume into integers

In [ ]:
faang_df.dtypes

In [ ]:
faang_df = faang_df.assign(
  date = pd.to_datetime(faang_df.date),
  volume = faang_df.volume.astype(int)
)

In [ ]:
faang_df.dtypes

In [ ]:
faang_df.sort_values(['date' , 'ticker'], ascending=True)

-   Find the 7 rows with the highest value for volume

In [ ]:
faang_df.nlargest(n = 7, columns='volume')

- Use melt to make it commpletely long format

In [ ]:
pd.melt(
    faang_df,
    id_vars=['date', 'ticker'],
    value_vars=['open', 'high', 'close', 'volume']
),

##  Exercise 3

- using webscraping, search for the list of the hospital, their address and contact information.

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://sulit.ph/list-of-hospitals-in-metro-manila-with-contact-details-website-and-social-media-accounts/"
response = requests.get(url)
print(response.text[:500])

In [ ]:
html_soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
results = html_soup.find_all('td')

cnt = 0
data_holder = []
place = []
nameHospital = []
contact_number = []
email =[]
facebook_link = []
for i in results:
  data_holder.append(i.text)

data_holder = data_holder[10:]
print(data_holder)

In [ ]:
countArr = {0:place, 1:nameHospital, 2:contact_number, 3:email, 4:facebook_link}
for i in range(len(data_holder)):
  countArr[cnt].append(data_holder[i])
  cnt+=1
  if cnt > 4:
    cnt = 0

In [ ]:
hospitals_df = pd.DataFrame({"placehospital":place,
                             "namehospital":nameHospital,
                             "contactnumbehospital":contact_number,
                             "emailhospital":email,
                             "facebooklinkhospital":facebook_link})
hospitals_df

In [ ]:
hospitals_df.to_csv('/content/sample_data/hospitals.csv')

In [ ]:
hosp_df = pd.DataFrame(pd.read_csv("/content/sample_data/hospitals.csv"))
hosp_df.head(10)

In [ ]:
hosp_df.columns

In [ ]:
hosp_df.set_index('namehospital', inplace=True)
hosp_df.head()

In [ ]:
hosp_df.drop(['Unnamed: 0', 'facebooklinkhospital'], axis=1, inplace=True)
hosp_df.head()

In [ ]:
hosp_df.dropna(axis = 0, inplace=True)
hosp_df

## Conclusion

- In this Activity Ive learned t=Wrangling data, to  get data from the net and do omething from the data. It still challenging to me for some syntax of pandaS BUT I THINK I STRUGGLED IN THE DATA COLLECTING PART. but overall, I enjoyed the experience in which I gathered a data set by webscraping rather than ust copying someones data set somewhere